<!doctype html>
<html>
<head>
    <title>TM Orders Log-in</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Tango Mango Orders </h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-default" style="padding-right: 25px;"><span class="fa fa-user" style="padding: 5px 15px 5px 10px;"></span>Login</a>
        <a href="/signup" class="btn btn-default" style="padding-right: 25px;"><span class="fa fa-user" style="padding: 5px 15px 5px 10px;"></span>Signup</a>
    </div>

</div>
</body>
</html>
